<% content_for :jumbotron do %>
	<div class="col-sm-12">
		<div class="jumbotron center-block">
			<h1>Pokedex</h1>
		</div>
	</div>
<% end %>

<div class="col-sm-12">
<%= link_to 'Add a Pokedex', new_pokedex_path, class: "btn btn-primary"%>
	<br /><br />
	<table class="table table-inverse">
		<thead>
		  <tr class="bg-primary">
		    <th>#</th>
		    <th>Name</th>
		    <th>Base Health Point</th>
		    <th>Base Attack</th>
		    <th>Base Defence</th>
		    <th>Base Speed</th>
		    <th>Base Element Type</th>
		    <th colspan="2"><center>Action</center></th>
		  </tr>
		</thead>
		<tbody>
			<% @pokedexes.each do |pokedex| %>
				<tr>
					<th><%= pokedex.id %></th>
					<td><%= link_to pokedex.name, pokedex %></td>
					<td><%= pokedex.base_health_point %></td>
					<td><%= pokedex.base_attack %></td>
					<td><%= pokedex.base_defence %></td>
					<td><%= pokedex.base_speed %></td>
					<td><%= pokedex.element_type %></td>
					<td><%= link_to 'Edit', edit_pokedex_path(pokedex), class: 'btn btn-default' %></td>
					<td><center>
						<%= button_to 'Destroy', pokedex, 
						method: :delete,
						class: 'btn btn-danger',
					  data: { confirm: 'Are you sure?' } %>  	
				  </center></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
</div>