<% content_for :jumbotron do %>
	<div class="col-sm-12">
		<div class="jumbotron center-block">
			<h1>Skill</h1>
		</div>
	</div>
<% end %>

<div class="col-sm-12">
	<%= link_to 'Add a skill', new_skill_path, class: 'btn btn-primary' %>
	<br />
	<br />
	<table class="table table-inverse">
		<thead>
			<tr class="bg-primary">
				<th>#</th>
				<th>Name</th>
				<th>Power</th>
				<th>Max PP</th>
				<th>Element Type</th>
			</tr>
		</thead>
		<tbody>
			<% @skills.each do |skill| %>
				<tr>
					<th><%= skill.id %></th>
					<td><%= link_to skill.name, skill %></td>
					<td><%= skill.power %></td>
					<td><%= skill.max_pp %></td>
					<td><%= skill.element_type %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>