<div class="col-sm-6">
<ul class="list-inline">
	<li><%= link_to 'Edit', edit_skill_path(@skill), class: 'btn btn-primary' %></li>
	<li><%= button_to 'Delete', @skill, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %></li>
</ul>
<table class="table table-inverse">
	<tr>
		<td class="bg-primary" width="50%">#</td>
		<td><%= @skill.id %></td>
	</tr>
	<tr>
		<td class="bg-primary">Name</td>
		<td><%= @skill.name %></td>
	</tr>
	<tr>
		<td class="bg-primary">Power</td>
		<td><%= @skill.power %></td>
	</tr>
	<tr>
		<td class="bg-primary">Max PP</td>
		<td><%= @skill.max_pp %></td>
	</tr>
	<tr>
		<td class="bg-primary">Element Type</td>
		<td><%= @skill.element_type %></td>
	</tr>
</table>
</div>


