<% content_for :jumbotron do %>
	<div class="col-sm-12">
		<div class="jumbotron center-block">
			<h1>Pokemon Battle</h1>
		</div>
	</div>
<% end %>

<div class="col-sm-12">
<%= link_to 'Add a Pokemon Battle', new_pokemon_battle_path, class: "btn btn-primary"%>
	<br /><br />
	<table class="table table-bordered">
		<thead>
		  <tr class="bg-primary">
		    <th>#</th>
		    <th>Pokemon 1</th>
		    <th>Pokemon 2</th>
		    <th>Current Turn</th>
		    <th>State</th>
		    <th colspan="2">Action</th>
		  </tr>
		</thead>
		<tbody>
			<% idx=0 %>
			<% @pokemon_battles.each do |pokemon_battle| %>
				<tr class="bg-default">
					<td><%= link_to "#{idx+=1}" , pokemon_battle_path(pokemon_battle) %></td>
					<td><pre><%= pokemon_battle.pokemon1_name %></pre></td>
					<td><pre><%= pokemon_battle.pokemon2_name %></pre></td>
					<td><%= pokemon_battle.current_turn %></td>
					<td><%= pokemon_battle.state %></td>
					<td>
						<ul class="list-inline">
							<li><%= link_to "Battle! ⚔", pokemon_battle_path(pokemon_battle), class: 'btn btn-success' %></li>
							<li><%= button_to 'Destroy', pokemon_battle, 
								method: :delete,
								class: 'btn btn-danger',
					  data: { confirm: 'Are you sure?' } %></li>  
					  </ul>	
				  </td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
</div>