<% content_for :jumbotron do %>
	<div class="col-sm-12">
		<div class="jumbotron center-block">
			<h1>Select Pokemon</h1>
		</div>
	</div>
<% end %>

<%= form_for @pokemon_battle do |f| %>
	<div class="col-sm-5">
		<%= f.label 'Select Pokemon 1', for: 'pokemon1_id' %>
		<%= f.select(:pokemon1_id, @list_pokemons, {}, {class: 'form-control form-group'}) %>
	</div>
	<div class="col-sm-2">
		<center>
			<%= image_tag "http://static.comicvine.com/uploads/original/13/135728/4521099-9366942388-44897.png", size: "100x100"%>
			<%= f.submit 'Battle!', class: 'btn btn-danger'%>
		</center>
	</div>
	<div class="col-sm-5">
		<%= f.label 'Select Pokemon 2', for: 'pokemon2_id' %>
		<%= f.select(:pokemon2_id, @list_pokemons, {}, {class: 'form-control form-group'}) %>
	</div>
	<div class="col-sm-12">
		<%= (content_tag(:div, @pokemon_battle.errors.full_messages.to_sentence , class: 'alert alert-danger', role: 'alert')) unless @pokemon_battle.errors.empty? %>
	</div>
<% end %>