<% content_for :jumbotron do %>
	<div class="col-sm-12">
		<div class="jumbotron center-block">
			<h1>Select Pokemon</h1>
		</div>
	</div>
<% end %>

<%= form_for @pokemon_battle do |f| %>
	<div class="col-sm-5">
		<%= f.label 'Select Pokemon 1', for: 'pokemon1_id' %>
		<%= f.select(:pokemon1_id, @list_pokemons, {}, {class: 'form-control form-group'}) %>
	</div>
	<div class="col-sm-2">
		<center>
			<h1>VS</h1>
			<%= f.submit 'Battle!', class: 'btn btn-danger'%>
		</center>
	</div>
	<div class="col-sm-5">
		<%= f.label 'Select Pokemon 2', for: 'pokemon2_id' %>
		<%= f.select(:pokemon2_id, @list_pokemons, {}, {class: 'form-control form-group'}) %>
	</div>
<% end %>