<div class="col-sm-5">

	<h2>Pokemon 1</h2>
	<%= image_tag @pokemon1.pokedex_image %>
	<table class="table table-bordered">
		<tr>
			<td class="bg-danger" width="50%">Name</td>
			<th><%= @pokemon1.name %></th>
		</tr>
		<tr>
			<td class="bg-danger">HP</td>
			<th><%= @pokemon1.current_health_point %>
				/
				<%= @pokemon1.max_health_point %>
			</th>
		</tr>
		<tr>
			<td class="bg-danger">Skills</td>
			<th>
				<% @pokemon1.skills.each do |skill| %>
					<%= skill.element_type %>
					(<%= skill.max_pp %>/
					<%= skill.max_pp %>)
				<% end %>
			</th>
		</tr>
	</table>
	<ul class="list-inline">
		<li><%= button_to "Attack", "#", class: 'btn btn-danger' %></li>
		<li><%= button_to "Surrender", "#", class: 'btn btn-info' %></li>
	</ul>
</div>
<div class="col-sm-2">
	<h1>VS</h1>
</div>
<div class="col-sm-5">

	<h2>Pokemon 2</h2>
	<%= image_tag @pokemon2.pokedex_image %>
	<table class="table table-bordered">
		<tr>
			<td class="bg-info" width="50%">Name</td>
			<th><%= @pokemon1.name %></th>
		</tr>
		<tr>
			<td class="bg-info">HP</td>
			<th><%= @pokemon1.current_health_point %>
				/
				<%= @pokemon1.max_health_point %>
			</th>
		</tr>
		<tr>
			<td class="bg-info">Skills</td>
			<th>
				<% @pokemon1.skills.each do |skill| %>
					<%= skill.element_type %>
					(<%= skill.max_pp %>/
					<%= skill.max_pp %>)
				<% end %>
			</th>
		</tr>
	</table>
	<ul class="list-inline">
		<li><%= button_to "Attack", "#", class: 'btn btn-danger' %></li>
		<li><%= button_to "Surrender", "#", class: 'btn btn-info' %></li>
	</ul>
</div>