<% content_for :jumbotron do %>
	<div class="jumbotron center-block well">
		<h1>Pokemon Show</h1>
	</div>
<% end %>

<div class="col-sm-12">
	<ul class="list-inline">
		<li><%= button_to 'Heal', pokemon_heal_path(pokemon_id: @pokemon.id), class: 'btn btn-success' %></li>
		<li><%= link_to 'Edit', edit_pokemon_path(@pokemon), class: 'btn btn-primary' %></li>
		<li><%= button_to 'Delete', @pokemon, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %></li>
	</ul>
</div>

<div class="col-sm-4">
	<%= image_tag @pokedex.image_url, size: "200x200" %>
</div>

<div class="col-sm-8">
	<table class="table table-inverse well" style="text-align: center;">
		<tr>
			<td class="bg-primary" width="30%">#</td>
			<td><%= @pokemon.id %></td>
		</tr>
		<tr>
			<td class="bg-primary">Name</td>
			<td><%= @pokemon.name %></td>
		</tr>
		<tr>
			<td class="bg-primary">Level</td>
			<td><%= @pokemon.level %></td>
		</tr>
		<tr>
			<td class="bg-primary">Max Health Point</td>
			<td><%= @pokemon.max_health_point %></td>
		</tr>
		<tr>
			<td class="bg-primary">Current Health Point</td>
			<td><%= @pokemon.current_health_point %></td>
		</tr>
		<tr>
			<td class="bg-primary">Attack</td>
			<td><%= @pokemon.attack %></td>
		</tr>
		<tr>
			<td class="bg-primary">Defence</td>
			<td><%= @pokemon.defence %></td>
		</tr>
		<tr>
			<td class="bg-primary">Speed</td>
			<td><%= @pokemon.speed %></td>
		</tr>
		<tr>
			<td class="bg-primary">Current Experience</td>
			<td><%= @pokemon.current_experience %></td>
		</tr>
		<tr>
			<td class="bg-primary">Number of Battles</td>
			<td><%= @pokemon_stats[:battles] %></td>
		</tr>
		<tr>
			<td class="bg-primary">Number of Wins</td>
			<td><%= @pokemon_stats[:wins] %></td>
		</tr>
		<tr>
			<td class="bg-primary">Number of Loss</td>
			<td><%= @pokemon_stats[:loss] %></td>
		</tr>
	</table>
</div>

<br /><br />

<div class="col-sm-12">
<h2>Skills</h2>
<table class="table table-inverse well">
	<thead>
		<tr class="bg-primary">
			<td>Name</td>
			<td>Power</td>
			<td>Current PP</td>
			<td>Element Type</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
		<% @pokemon_skills.each do |skill| %>
			<tr>
				<td><%= skill.skill_name %></td>
				<td><%= skill.skill_power %></td>
				<td><%= skill.current_pp %></td>
				<td><%= skill.skill_element_type %></td>
				<td><%= button_to '✕', pokemon_pokemon_skill_path(pokemon_id: @pokemon.id, id: skill.id) , method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

	<%= form_for([@pokemon, @pokemon_skill]) do |f| %>
		<%= f.label 'Skill', for: 'skill_id' %>
		<%= f.select(:skill_id, @list_names_ids, {}, class: 'form-control form-group') %>
		<%= (content_tag(:div, @pokemon_skill.errors.full_messages.to_sentence , class: 'alert alert-danger', role: 'alert')) unless @pokemon_skill.errors.empty? %>
		<%= f.submit 'Add a skill', class: 'btn btn-info' %>
	<% end %>

</div>